
@{
    ViewData["Title"] = "Confirm";
}
<h1 class="text-center">ยืนยันการจัดส่งอาหาร</h1>
<br />
<br />
<div class="text-center">
    <img src="https://img.japankuru.com/prg_img/img/img2021021916410799299600.png" width="800px;" height="500px;">
    <br /><br /><br /><br />
    <a class="btn btn-outline-success" asp-area="" asp-controller="Sender" asp-action="Index">success</a>
</div>
