
@{
    ViewData["Title"] = "Getorder";
}

<h1 class="text-center">รับยอดอาหาร</h1>
<br />
<br />
<div class="row g-0 bg-body-secondary position-relative">
    <span class="border border-5 ">
        <br /><br />
        <div class=" text-center">
            <div class="pic">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRsAVpd65Uke8-RcllDONzTeVI0YcPo6XJ-pHIR7uKIo_-dcBd_2iF73jWWkmLJIt53kjU&usqp=CAU" width="800px;" height="500px;">
            </div><br /><br />
            <div class=" text-center">
                <h5>ชื่อ : </h5>
                <h5>รหัส : </h5>
                <h5>ร้าน : </h5>
                <h5>อาหาร : </h5>
                <h5>ที่อยู่ : </h5>
                <h5>เบอร์ : </h5>
            </div>
        </div><br /><br />
    </span>
</div>
<br />
<br />
<br />
<div class="text-center">
    <a class="btn btn-danger" asp-area="" asp-controller="Sender" asp-action="Index">back</a>
    <a class="btn btn-info" asp-area="" asp-controller="Sender" asp-action="Confirm">submit</a>
</div>
