@{
    ViewData["Title"] = "Home Page";
}

<h1>@ViewData["Title"]</h1>

<p>Welcome to the home page!</p>

<div>
    <button type="button" class="btn btn-lg btn-darkorange me-2">Button 1</button>
    <button type="button" class="btn btn-lg btn-darkorange">Button 2</button>
</div>