@{
    ViewData["Title"] = "Home Page";
}


<section class="vh-100 bg-image"
         style="background-image: url('https://1stcraft.com/wp-content/uploads/2022/02/1stcraft-cover-%E0%B8%9A%E0%B8%97%E0%B8%84%E0%B8%A7%E0%B8%B2%E0%B8%A1-food-delivery.jpg');background-size: cover;">
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100 " style="color:coral">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                   <h1 class="text-uppercase text-center mb-5">Service</h1>
                    <h2 class="lead text-center mb-5">เลือกใช้บริการ</h2>
                    <div class="d-flex justify-content-center">
                        <button type="button" class="btn btn-warning btn-lg mx-3">คนสั่ง</button>
                        <button type="button" class="btn btn-warning btn-lg mx-3">คนซื้อ</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>