@using Projectwebapp.Models;
@using Microsoft.AspNetCore.Mvc;
@using Microsoft.EntityFrameworkCore;
@using Projectwebapp.Data;
@inject IHttpContextAccessor HttpContextAccessor
@model Sender
@{
    ViewData["Title"] = "เมนู";
}
<style>
    .store {
        width: 100%;
        display: flex;
        justify-content: center;
        background-color: rgb(255, 184, 78);
        border-radius: 10px;
        /*box-shadow:04px8px0rgba(0,0,0,0.2),06px20px0rgba(0,0,0,0.19);*/
    }

    .mainS {
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 10px;
        background-color: rgb(248, 196, 117);
    }

    .image {
        position: relative;
        margin: 20px;
        border-radius: 10px;
    }

    .storeCap {
        justify-content: center;
        margin-top: 30px;
    }
    .menu{
        display: flex;
        flex-wrap: wrap;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 5%;
    }
    .form-check{
        width: 25%;
    }
    .opt{
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .speac {
        width: 75%;
    }

</style>
<div class="mainS border-3">
    <div class="store border-3">
        <img class="image" src="https://sv1.picz.in.th/images/2023/04/19/mIk0kV.png" alt="ร้านป้าศรีส้มตำ" width="200" height="150">
        <div class="storeCap caption">
            ชื่อร้าน : ร้านป้าศรีส้มตำ <br/>
            ประเภทอาหาร : ส้มตำ,ต้มแซ่บ,ลาบ,ข้าวยำไก่
        </div>
    </div>

    <form class="menu" asp-controller="Order" asp-action="Menu1" method="POST">
        <input asp-for="Username" type="hidden" value=@HttpContextAccessor.HttpContext.Session.GetString("UserId")>
        <input asp-for="FoodStore" type="hidden" value="ร้านป้าศรีส้มตำ">
        <input asp-for="FoodMenu_Option" type="hidden" id="F_opt" value="รายการอาหาร">
        <input asp-for="Pictures" type="hidden" value="https://sv1.picz.in.th/images/2023/04/19/mIk0kV.png">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="ตำหมูยอ" id="m1"> <label class="form-check-label" for="m1">ตำหมูยอ</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="ตำข้าวโพด" id="m2"> <label class="form-check-label" for="m2">ตำข้าวโพด</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="ลาบน้ำตก" id="m3"> <label class="form-check-label" for="m3">ลาบน้ำตก</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="ต้มแซ่บ" id="m4"> <label class="form-check-label" for="m4">ต้มแซ่บ</label>
        </div>
        <div class="form-check">    
            <input class="form-check-input" type="checkbox" value="ตำซั่วปูปลาร้า" id="m5"> <label class="form-check-label" for="m5">ตำซั่วปูปลาร้า</label>
        </div>
        <div class="form-check speac">    
            <input class="form-check-input" type="checkbox" value="ข้าวยำไก่" id="m6"> <label class="form-check-label" for="m6">ข้าวยำไก่</label>
        </div> 
        <div class="opt">
            <h2>Option</h2>
            <textarea class="form-control form-rounded " rows="3" cols="100" name="option" id="option"></textarea>
            <br/>
            <div>
                <div class="form-group">
                    <div class="form-horizontal col-xs-4">
                        <label class="control-label col-sm-2" for="nameReceive">ชื่อผู้รับ :</label>
                        <input class="form-control col-sm-4" type="text" id="nameReceive" asp-for="RecipientName" required>
                    </div>
                    <div class="form-horizontal col-xs-4">
                        <label class="control-label col-sm-2" for="PhoneNumber">เบอร์โทรศัพท์ :</label>
                        <input class="form-control" type="text" id="PhoneNumber" asp-for="PhoneNumber" required>
                    </div>
                </div>
                <div class="form-horizontal col-xs-4">
                    <label class="control-label col-sm-2" for="RecipientAddress">ที่อยู่ :</label>
                    <input class="form-control" type="text" id="RecipientAddress" asp-for="RecipientAddress" required>
                </div>
            </div>
            <br />
            <input type="submit" onclick="sendOrder()" value="submit">
        </div>
    </form>
</div>
<script>
        function sendOrder() {
            orderAll=[];
            var text = document.getElementById("text");
            if (document.getElementById("m1").checked == true) {
                orderAll.push(document.getElementById("m1").value)
            }
            if(document.getElementById("m2").checked == true){
                orderAll.push(document.getElementById("m2").value)
            }
            if(document.getElementById("m3").checked == true){
                orderAll.push(document.getElementById("m3").value)
            }
            if(document.getElementById("m4").checked == true){
                orderAll.push(document.getElementById("m4").value)
            }
            if(document.getElementById("m5").checked == true){
                orderAll.push(document.getElementById("m5").value)
            }
            if(document.getElementById("m6").checked == true){
                orderAll.push(document.getElementById("m6").value)
            }
            
            orderAll.push("option="+document.getElementById("option").value)
            document.getElementById("F_opt").value = orderAll.join(",");
        }
        
    </script>