@using Projectwebapp.Models;
@model Sender
    ViewData["Title"] = "เมนู";
}
<style>
    .store {
        width: 100%;
        display: flex;
        justify-content: center;
        background-color: rgb(255, 184, 78);
        border-radius: 10px;
        /*@*box-shadow:04px8px0rgba(0,0,0,0.2),06px20px0rgba(0,0,0,0.19);*@*/
    }

    .mainS {
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 10px;
        background-color: rgb(248, 196, 117);
    }

    .image {
        position: relative;
        margin: 20px;
        border-radius: 10px;
    }

    .storeCap {
        justify-content: center;
        margin-top: 30px;
    }

    .menu {
        display: flex;
        flex-wrap: wrap;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 3%;
    }

    .form-check {
        width: 25%;
    }

    .opt {
        
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .speac {
        width: 100%;
    }
</style>
<div class="mainS border-3">
    <div class="store border-3">
        <img class="image" src="https://sv1.picz.in.th/images/2023/04/19/mIkhK1.png" alt="ร้านไอเย็น" width="200" height="150">
        <div class="storeCap caption">
            ชื่อร้าน : ร้านไอเย็น <br />
            ประเภทอาหาร : รวมมิตร/ลอดช่อง,น้ำแข็งใส,เต้าทึง,ขนม/ขนมไทย,ซาลาเปา,ลูกชิ้นทอด,ผลไม้
        </div>
    </div>
    <form class="menu" asp-controller="Order" asp-action="Menu1" method="POST">
        <input asp-for="Username" type="hidden" value="64010597">
        <input asp-for="FoodStore" type="hidden" value="ร้านไอเย็น">
        <input asp-for="FoodMenu_Option" type="hidden" id="F_opt" value="รายการอาหาร">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="น้ำแข็งใส" id="m1"> <label class="form-check-label" for="m1">น้ำแข็งใส</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="เต้าทึง" id="m2"> <label class="form-check-label" for="m2">เต้าทึง</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="เฉาก๊วยนมสด" id="m3"> <label class="form-check-label" for="m3">เฉาก๊วยนมสด</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="รวมมิตร" id="m4"> <label class="form-check-label" for="m4">รวมมิตร</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="ลอดช่องสิงคโปร์" id="m5"> <label class="form-check-label" for="m5">ลอดช่องสิงคโปร์</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="ขนมหวาน" id="m6"> <label class="form-check-label" for="m6">ขนมหวาน</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="ขนมไทย" id="m7"> <label class="form-check-label" for="m7">ขนมไทย</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="ผลไม้ตามฤดูกาล" id="m8"> <label class="form-check-label" for="m8">ผลไม้ตามฤดูกาล</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="เบอเกอรี่" id="m9"> <label class="form-check-label" for="m9">เบอเกอรี่</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="ลูกชิ้นทอด" id="m10"> <label class="form-check-label" for="m10">ลูกชิ้นทอด</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="นักเก็ต" id="m11"> <label class="form-check-label" for="m11">นักเก็ต</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="ปอเปี๊ยะ" id="m12"> <label class="form-check-label" for="m12">ปอเปี๊ยะ</label>
        </div>
        <div class="form-check speac">
            <input class="form-check-input" type="checkbox" value="ขนมขบเคี้ยว" id="m13"> <label class="form-check-label" for="m13">ขนมขบเคี้ยว</label>
        </div>

        <div class="opt">
            <h2>Option</h2>
            <textarea class="form-control form-rounded personD" rows="3" cols="100" name="option" id="option"></textarea>
            <br />
            <div class="personD">
                <div class="form-group">
                    <div class="form-horizontal col-xs-4">
                        <label class="control-label col-sm-2" for="nameReceive">ชื่อผู้รับ :</label>
                        <input class="form-control col-sm-4" type="text" id="nameReceive" asp-for="RecipientName" required>
                    </div>
                    <div class="form-horizontal col-xs-4">
                        <label class="control-label col-sm-2" for="PhoneNumber">เบอร์โทรศัพท์ :</label>
                        <input class="form-control" type="text" id="PhoneNumber" asp-for="PhoneNumber" required>
                    </div>
                </div>
                <div class="form-horizontal ">
                    <label class="control-label col-sm-2" for="RecipientAddress">ที่อยู่ :</label>
                    <input class="form-control col-xs-4" type="text" id="RecipientAddress" asp-for="RecipientAddress" required>
                </div>
            </div>
            <br />
            <input type="submit" onclick="sendOrder()" value="submit">
        </div>

    </form>

</div>
<script>
    function sendOrder() {
        orderAll = [];
        var text = document.getElementById("text");
        if (document.getElementById("m1").checked == true) {
            orderAll.push(document.getElementById("m1").value)
        }
        if (document.getElementById("m2").checked == true) {
            orderAll.push(document.getElementById("m2").value)
        }
        if (document.getElementById("m3").checked == true) {
            orderAll.push(document.getElementById("m3").value)
        }
        if (document.getElementById("m4").checked == true) {
            orderAll.push(document.getElementById("m4").value)
        }
        if (document.getElementById("m5").checked == true) {
            orderAll.push(document.getElementById("m5").value)
        }
        if (document.getElementById("m6").checked == true) {
            orderAll.push(document.getElementById("m6").value)
        }
        if (document.getElementById("m7").checked == true) {
            orderAll.push(document.getElementById("m7").value)
        }
        if (document.getElementById("m8").checked == true) {
            orderAll.push(document.getElementById("m8").value)
        }
        if (document.getElementById("m9").checked == true) {
            orderAll.push(document.getElementById("m9").value)
        }
        if (document.getElementById("m10").checked == true) {
            orderAll.push(document.getElementById("m10").value)
        }
        if (document.getElementById("m11").checked == true) {
            orderAll.push(document.getElementById("m11").value)
        }
        if (document.getElementById("m12").checked == true) {
            orderAll.push(document.getElementById("m12").value)
        }
        if (document.getElementById("m13").checked == true) {
            orderAll.push(document.getElementById("m13").value)
        }

        orderAll.push("option=" + document.getElementById("option").value)
        document.getElementById("F_opt").value = orderAll.join(",");
    }

</script>
