@using Projectwebapp.Models;
@using Microsoft.AspNetCore.Mvc;
@using Microsoft.EntityFrameworkCore;
@using Projectwebapp.Data;
@inject IHttpContextAccessor HttpContextAccessor
@model Sender
@{
    ViewData["Title"] = "เมนู";
}
<style>
    .store {
        width: 100%;
        display: flex;
        justify-content: center;
        background-color: rgb(255, 184, 78);
        border-radius: 10px;
        /*@*box-shadow:04px8px0rgba(0,0,0,0.2),06px20px0rgba(0,0,0,0.19);*@*/
    }

    .mainS {
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 10px; 
        background-color: rgb(248, 196, 117);
    }

    .image {
        position: relative;
        margin: 20px;
        border-radius: 10px;
    }

    .storeCap {
        justify-content: center;
        margin-top: 30px;
    }

    .menu {
        display: flex;
        flex-wrap: wrap;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 3%;
    }

    .form-check {
        width: 25%;
    }

    .opt {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .speac {
        width: 50%;
    }
</style>
<div class="mainS border-3">
    <div class="store border-3">
        <img class="image" src="https://sv1.picz.in.th/images/2023/04/19/mIkkAy.png" alt="ร้านพี่ฝน กาแฟสด&น้ำ" width="200" height="150">
        <div class="storeCap caption">
            ชื่อร้าน : ร้านพี่ฝน กาแฟสด&น้ำ <br />
            ประเภทอาหาร : เครื่องดื่ม
        </div>
    </div>

    <form class="menu" asp-controller="Order" asp-action="Menu1" method="POST">
        <input asp-for="Username" type="hidden" value=@HttpContextAccessor.HttpContext.Session.GetString("UserId")>
        <input asp-for="FoodStore" type="hidden" value="ร้านพี่ฝน กาแฟสด&น้ำ">
        <input asp-for="FoodMenu_Option" type="hidden" id="F_opt" value="รายการอาหาร">
        <input asp-for="Pictures" type="hidden" value="https://sv1.picz.in.th/images/2023/04/19/mIkkAy.png">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="กาแฟสด(ร้อน/เย็น/ปั่น,ใส่มุก/ไม่ใส่มุก)" id="m1"> <label class="form-check-label" for="m1">กาแฟสด(ร้อน/เย็น/ปั่น,ใส่มุก/ไม่ใส่มุก)</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="ชาไทย(เย็น/ปั่น,ใส่มุก/ไม่ใส่มุก)" id="m2"> <label class="form-check-label" for="m2">ชาไทย(เย็น/ปั่น,ใส่มุก/ไม่ใส่มุก)</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="ชาเขียว(เย็น/ปั่น,ใส่มุก/ไม่ใส่มุก)" id="m3"> <label class="form-check-label" for="m3">ชาเขียว(เย็น/ปั่น,ใส่มุก/ไม่ใส่มุก)</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="นมสด(ร้อน/เย็น/ปั่น,ใส่มุก/ไม่ใส่มุก)" id="m4"> <label class="form-check-label" for="m4">นมสด(ร้อน/เย็น/ปั่น,ใส่มุก/ไม่ใส่มุก)</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="ผลไม้สดปั่น(ใส่มุก/ไม่ใส่มุก)" id="m5"> <label class="form-check-label" for="m5">ผลไม้สดปั่น(ใส่มุก/ไม่ใส่มุก)</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="ชาไต้หวัน(เย็น/ปั่น,ใส่มุก/ไม่ใส่มุก)" id="m6"> <label class="form-check-label" for="m6">ชาไต้หวัน(เย็น/ปั่น,ใส่มุก/ไม่ใส่มุก)</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="โกโก้(ร้อน/เย็น/ปั่น,ใส่มุก/ไม่ใส่มุก)" id="m7"> <label class="form-check-label" for="m7">โกโก้(ร้อน/เย็น/ปั่น,ใส่มุก/ไม่ใส่มุก)</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="น้ำผลไม้โซดา(เย็น/ปั่น,ใส่มุก/ไม่ใส่มุก)" id="m8"> <label class="form-check-label" for="m8">น้ำผลไม้โซดา(เย็น/ปั่น,ใส่มุก/ไม่ใส่มุก)</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="น้ำเปล่า" id="m9"> <label class="form-check-label" for="m9">น้ำเปล่า</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="น้ำอัดลม" id="m10"> <label class="form-check-label" for="m10">น้ำอัดลม</label>
        </div>
        <div class="form-check speac">
            <input class="form-check-input" type="checkbox" value="นมกล่อง" id="m11"> <label class="form-check-label" for="m11">นมกล่อง</label>
        </div>

        <div class="opt">
            <h2>Option</h2>
            <textarea class="form-control form-rounded " rows="3" cols="100" name="option" id="option"></textarea>
            <br />
            <div>
                <div class="form-group">
                    <div class="form-horizontal col-xs-4">
                        <label class="control-label col-sm-2" for="nameReceive">ชื่อผู้รับ :</label>
                        <input class="form-control col-sm-4" type="text" id="nameReceive" asp-for="RecipientName" required>
                    </div>
                    <div class="form-horizontal col-xs-4">
                        <label class="control-label col-sm-2" for="PhoneNumber">เบอร์โทรศัพท์ :</label>
                        <input class="form-control" type="text" id="PhoneNumber" asp-for="PhoneNumber" required>
                    </div>
                </div>
                <div class="form-horizontal col-xs-4">
                    <label class="control-label col-sm-2" for="RecipientAddress">ที่อยู่ :</label>
                    <input class="form-control" type="text" id="RecipientAddress" asp-for="RecipientAddress" required>
                </div>
            </div>
            <br />
            <input type="submit" onclick="sendOrder()" value="submit">
        </div>

    </form>
</div>

<script>
    function sendOrder() {
        orderAll = [];
        var text = document.getElementById("text");
        if (document.getElementById("m1").checked == true) {
            orderAll.push(document.getElementById("m1").value)
        }
        if (document.getElementById("m2").checked == true) {
            orderAll.push(document.getElementById("m2").value)
        }
        if (document.getElementById("m3").checked == true) {
            orderAll.push(document.getElementById("m3").value)
        }
        if (document.getElementById("m4").checked == true) {
            orderAll.push(document.getElementById("m4").value)
        }
        if (document.getElementById("m5").checked == true) {
            orderAll.push(document.getElementById("m5").value)
        }
        if (document.getElementById("m6").checked == true) {
            orderAll.push(document.getElementById("m6").value)
        }
        if (document.getElementById("m7").checked == true) {
            orderAll.push(document.getElementById("m7").value)
        }
        if (document.getElementById("m8").checked == true) {
            orderAll.push(document.getElementById("m8").value)
        }
        if (document.getElementById("m9").checked == true) {
            orderAll.push(document.getElementById("m9").value)
        }
        if (document.getElementById("m10").checked == true) {
            orderAll.push(document.getElementById("m10").value)
        }
        if (document.getElementById("m11").checked == true) {
            orderAll.push(document.getElementById("m11").value)
        }

        orderAll.push("option=" + document.getElementById("option").value)
        document.getElementById("F_opt").value = orderAll.join(",");
    }

</script>